.element__like {
    background: url(/images/like.svg);
    width: 22px;
    height: 19px;
    object-fit: cover;
    border: none;
    padding: 3px 0 0;
    align-self: center;
    /*background-color: transparent;*/
    /*z-index: 1;*/
  }

  .element__like:hover {
    opacity: 0.5;
    transition: opacity 1s ease;
    cursor: pointer;
  }

  
